#!/bin/zsh

set -euo pipefail

# The has below is used to detect changes to the Mise requirements files in order to trigger Chezmoi
# requirements hash:
{{- $dir := joinPath "$HOME" ".config/mise/conf.d" -}}
{{- $files := glob (printf "%s/*.toml" $dir) | sortAlpha -}}
{{- $buf := "" -}}
{{- range $f := $files -}}
  {{- $buf = printf "%s%s" $buf (include $f) -}}
{{- end -}}
{{- $buf | sha256sum }}

# Source the environment to initialize Mise
source ~/.zshrc

# Check if Mise is installed
if ! command -v mise >/dev/null 2>&1; then
  echo "WARNING: Mise not found, skipping Mise install."
  exit 0
fi

# Running Mise installation
echo "INFO: Running Mise install"
mise install
echo "INFO: Mise install completed."
